/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start*/

.body {
	font-family: 'Athiti', sans-serif;
}

.container {
	max-width: 963px ;
	margin: 0 auto;
	font-family: 'Athiti', sans-serif;
}

header {
	width: 100%;
	height: 559px;
	background: url(../img/Web.png) no-repeat;
	background-position: center;
	font-family: 'Athiti', sans-serif;
	overflow: hidden;
	background-size: cover;
}

nav {
	width: 100%;
	height: 70px;
	background: #403c42b8;
}

nav .logo {
	float: left;
}

nav .logo h1 {
	color: white;
	font-size: 45.59pt;
}

nav ul {
	float: right;
	margin-top: 20px;
}

nav ul li {
	float: left;
	margin-left: 50px;
}

nav ul li a {
	font-size: 20.42pt;
	text-transform: uppercase;
	text-decoration:  none;
	color: white;
	transition: all 0.5s;
}

nav ul li a:hover {
	color: #5F4CDB;
}

.desc {
	margin-top: 130px;
	text-align: center;
}

.desc h1 {
	font-size: 65.19pt;
	color: white;
	font-family: 'Anton', sans-serif;
}

.desc a {
	margin-top: 20px; 
	display: inline-block;
	text-decoration: none;
	background: #ce3819;
	color: white;
	padding: 30px 60px;
	font-size: 25.5pt;
	font-family: 'Anton', sans-serif;
	transition: all 0.5s;
	border: 2px solid #ce3819;
}

.desc a:hover {
	border: 5px solid white;
	background: transparent;
}

.career {
	width: 100%;
	height: 402px;
	background: #3c383d;
	overflow: hidden;
}

.cr_title {
	text-align: center;
	margin-top: 35px;
}

.cr_title h1 {
	width: 290px;
	height: auto;
	margin: 0 auto;
	color: white;
	border-bottom: 2px solid #b4ff00;
	font-size: 44.33pt;
}

.cr {
	widows: 180px;
	height: auto;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

.cr img:hover {
	transition: all 1.8s;
}


.cr img:hover {
	width: 190px;
	transform: scale(1.1);
}

.cr h1 {
	font-size: 20.13pt;
	color: white;
	border-bottom: 1px solid white; 
	text-align: center;
}

.desc2 {
	width: 100%;
	height: 573px;
	background: url("../img/pok4.png") center no-repeat;
	background-size: cover; 
	overflow: hidden;
}

.desc2_text {
	text-align: center;
	font-family: 'Athiti', sans-serif;
}

.desc2 h1 {
	font-size: 70.94pt;
	color: white;
	font-family: 'Anton', sans-serif;
	margin-top: 100px;
	margin-bottom: 80px;
}

.desc2 p {
	color: white;
	font-size: 52.6pt;
}

span.blue2 {
	color: #3112df;
}

.article_area {
	width: 100%;
	height: 1315px;
	background: #3c383d;
	overflow: hidden;
}

.article_post {
	width: 963px;
	height: 352px;
	margin: 0 auto;
	margin: 20px auto;
	padding-top: 30px;

}

.article_post img { /*963 352*/
	float: left;
	border: 6px solid white;
	transition: all 0.6s;
}

.article_post img:hover {
	filter: grayscale(80%)

}

.article_content {  /* 600 290 */
	width: 600px;
	height: auto;
	float: left;
	margin-left: 30px;
}

.article_content h1 {
	font-size: 33.01pt;
	color: white;
}

.article_content span {
	font-size: 20.01pt;
	color: white;
}

.article_content p {
	font-size: 18pt;
	color: white;
	margin-top: 20px;
}

.article_content a {
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	padding: 5px 30px;
	color: white;
	background: #e34120;
	font-size: 37.19pt;
}

ul.pagination {
	float: right;
}

ul.pagination li {
	margin-right: 10px;
	float: left;
	background: #e34120;
	padding: 10px;
}

.pp {
	padding: 10px 12px !important;
}

ul.pagination li a {
	color: white;
	display: inline-block;
	text-decoration: none;
	font-size: 16pt;
}

.item {
	overflow: hidden;
	width: 100%;
	height: 400px;
	background: #181618;
}

.item_title h1 {
	margin-top: 35px;
	text-align: center;
	width: 250px;
	color: white;
	border-bottom: 4px solid white;
	font-size: 30.96pt;
}

.item ul li {
	margin-top: 80px;
	float: left;
	margin-left: 80px;
}

.item ul li img:hover {
	transition: all 0.5s;
	filter: sepia(50%);
}

.item ul li img:hover {
	transform: scale(1.1);
}

footer {
	width: 100%;
	height: 150px;
	border-top: 3px solid #f8f400;
	background: #3c383d;
}

.copyright p {
	color: white;
	text-align: center;
	margin-top: 40px;
	font-size: 20.04pt;
}

.copyright p:hover {
	color: #f8f400;
	transition: all 0.5s;
	transform: scale(1.1);
}

/*End of footer*/
/*Start Resposive*/

#scroll-top {
	position: fixed;
  right: 10px;
  bottom: 10px;
  margin: 0;
  text-decoration: none;
}
#scroll-top button {
	width: 50px;
  height: 50px;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  border: solid 5px #FFEBEE;
  background-color: #F44336;
  color: #fff;
  box-shadow: 0 0 1px #333;
  display: block;
  font-family: tahoma;
  font-size: 11px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#scroll-top button:hover {
  background-color: #B71C1C;
  border-color: #F44336;
}
